@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="container" style="width:initial">
        <select id="Title" class="input-large form-control">
            <option value="">Lütfen başlık seçiniz</option>
        </select>
        <div class="align-content-around">
            <p id="Content" style="font-size:large; margin-top:1em; border:1px solid #c3c3c3; padding:15px" class="display-4"></p>
        </div>
    </div>

    <div class="text-center" style="margin-top:2em">
        <p style="font-size:large" class="display-4"><input type="text" id="Question1" placeholder="Birinci soruyu yazınız." required /></p>
        <div id="options">
            <div class="col-md-6 float-left">
                <div id="AQ1" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q1OptionA" placeholder="A seçeneğini yazınız" required />
                </div>
                <div id="Q1optionB" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q1OptionB" placeholder="B seçeneğini yazınız" required />
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div id="Q1optionC" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q1OptionC" placeholder="C seçeneğini yazınız" required />
                </div>
                <div id="Q1optionD" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q1OptionD" placeholder="D seçeneğini yazınız" required />
                </div>
            </div>
        </div>
        <div class="container" style="width:40%">
            <select id="Answer1" class="input-large form-control">
                <option value="">Doğru cevabı seçiniz</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="text-center" style="margin-top:2em">
        <p style="font-size:large" class="display-4"><input type="text" id="Question2" placeholder="İkinci soruyu yazınız." required /></p>
        <div id="options">
            <div class="col-md-6 float-left">
                <div id="optionA" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q2OptionA" placeholder="A seçeneğini yazınız" required />
                </div>
                <div id="optionB" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q2OptionB" placeholder="B seçeneğini yazınız" required />
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div id="optionC" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q2OptionC" placeholder="C seçeneğini yazınız" required />
                </div>
                <div id="optionD" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q2OptionD" placeholder="D seçeneğini yazınız" required />
                </div>
            </div>
        </div>
        <div class="container" style="width:40%">
            <select id="Answer2" class="input-large form-control">
                <option value="">Doğru cevabı seçiniz</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="text-center" style="margin-top:2em">
        <p style="font-size:large" class="display-4"><input type="text" id="Question3" placeholder="Üçüncü soruyu yazınız." required /></p>
        <div id="options">
            <div class="col-md-6 float-left">
                <div id="optionA" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q3OptionA" placeholder="A seçeneğini yazınız" required />
                </div>
                <div id="optionB" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q3OptionB" placeholder="B seçeneğini yazınız" required />
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div id="optionC" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q3OptionC" placeholder="C seçeneğini yazınız" required />
                </div>
                <div id="optionD" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q3OptionD" placeholder="D seçeneğini yazınız" required />
                </div>
            </div>
        </div>
        <div class="container" style="width:40%">
            <select id="Answer3" class="input-large form-control">
                <option value="">Doğru cevabı seçiniz</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="text-center" style="margin-top:2em">
        <p style="font-size:large" class="display-4"><input type="text" id="Question4" placeholder="Dördüncü soruyu yazınız." required /></p>
        <div id="options">
            <div class="col-md-6 float-left">
                <div id="optionA" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q4OptionA" placeholder="A seçeneğini yazınız" required />

                </div>
                <div id="optionB" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q4OptionB" placeholder="B seçeneğini yazınız" required />

                </div>
            </div>
            <div class="col-md-6 float-left">
                <div id="optionC" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q4OptionC" placeholder="C seçeneğini yazınız" required />

                </div>
                <div id="optionD" class="alert alert-secondary" role="alert">
                    <input type="text" id="Q4OptionD" placeholder="D seçeneğini yazınız" required />

                </div>
            </div>
        </div>
        <div class="container" style="width:40%">
            <select id="Answer4" class="input-large form-control">
                <option value="">Doğru cevabı seçiniz</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
    </div>
    <br />
    <div class="text-center">
        <button id="Add" class="btn btn-primary">Sınav Oluştur</button>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var descr = [];
        var guids = [];

        $.ajax({
            type: "GET",
            url: "https://www.wired.com/feed/rss",
            cache: false,
            dataType: "xml",
            success: function (xml) {
                $(xml).find('item').slice(0, 5).each(function (i, item) {

                    var titles = [];
                    
                    var value = i;

                    $(this).find("title").each(function () {
                        var myTitle = $(this).text();
                        titles.push({
                            value, myTitle
                        });

                    });
                    $(this).find("description").each(function (i, item) {
                        var myDesc = $(this).text();
                        descr.push({
                            myDesc
                        });
                    });
                    $(this).find("guid").each(function (i, item) {
                        var myGuid = $(this).text();
                        guids.push({
                            i, myGuid
                        });
                    });

                    $.each(titles, function (key, value) {
                        $('#Title')
                            .append($("<option></option>")
                                .attr("value", JSON.stringify(titles).slice(10, 11))
                                .text(JSON.stringify(titles).slice(23, -3)));
                    });
                });
            }
        });

        $("#Title").change(function () {
            var id = $(this).children(":selected").attr("value");
            document.getElementById("Content").value = "";
            $('#Content').text(JSON.stringify(descr[id]).slice(11, -3));
        });

        var a1 = "", a2 = "", a3 = "", a4 = "";

        $("#Answer1").change(function () {
            a1 = $(this).children(":selected").attr("value")
        });
        $("#Answer2").change(function () {
            a2 = $(this).children(":selected").attr("value")
        });
        $("#Answer3").change(function () {
            a3 = $(this).children(":selected").attr("value")
        });
        $("#Answer4").change(function () {
            a4 = $(this).children(":selected").attr("value")
        })



        $('#Add').click(function (e) {
            e.preventDefault();

            serviceUrl = "https://localhost:44326/home/index";

            var options1 = {
                Q1OptionA: $('#Q1OptionA').val(),
                Q1OptionB: $('#Q1OptionB').val(),
                Q1OptionC: $('#Q1OptionC').val(),
                Q1OptionD: $('#Q1OptionD').val(),
            };

            var options2 = {
                Q2OptionA: $('#Q2OptionA').val(),
                Q2OptionB: $('#Q2OptionB').val(),
                Q2OptionC: $('#Q2OptionC').val(),
                Q2OptionD: $('#Q2OptionD').val(),
            };

            var options3 = {
                Q3OptionA: $('#Q3OptionA').val(),
                Q3OptionB: $('#Q3OptionB').val(),
                Q3OptionC: $('#Q3OptionC').val(),
                Q3OptionD: $('#Q3OptionD').val(),
            };

            var options4 = {
                Q4OptionA: $('#Q4OptionA').val(),
                Q4OptionB: $('#Q4OptionB').val(),
                Q4OptionC: $('#Q4OptionC').val(),
                Q4OptionD: $('#Q4OptionD').val(),
            };

            var options = { options1, options2, options3, options4 }
         
            var answers = {
                Answer1: a1,
                Answer2: a2,
                Answer3: a3,
                Answer4: a4
            };

            var questionContent = {
                content1: $('#Question1').val(),
                content2: $('#Question2').val(),
                content3: $('#Question3').val(),
                content4: $('#Question4').val()
            };

            var id = document.getElementById("Title").value

            var myGuid = JSON.stringify(guids[id]).slice(17, -2)

            debugger;
            var questions = {
                ArticleId: id,
                MyContent: questionContent,
                MyAnswer: answers,
                MyOptions: options,
                Guid: myGuid
            };

        
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: serviceUrl,
                type: "POST",
                data: JSON.stringify(questions),
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    alert("Kullanıcı adı veya şifre hatalı.")
                },
            });
        });
    });
</script>